@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none; /* Menyembunyikan scrollbar di browser WebKit */
    }
  }
}

body {
  background-color: bisque;
}

img, p, h1, h2, h3, h4, h5, .no-copy {
  user-select: none; /* CSS3 */
  -webkit-user-select: none; /* Safari, Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Untuk mencegah penyalinan gambar */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-drag: none;
  pointer-events: none; /* Optional: mencegah semua interaksi pointer */
}